<div *ngIf="!isError">
    <div *ngIf="isLoadingPatient || isLoadingPatientResponse" style="display: block ruby; text-align: center;">
        <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="!isLoadingPatient && !isLoadingPatientResponse">
        <div style="display: flex;">
            <mat-card class="patient">
                <mat-card-content>
                    Nom : <b>{{ patient.name  && patient.name[0].family ? patient.name[0].family : "" }}</b><br />
                    Prénom : <b>{{ patient.name && patient.name[0].given ? patient.name[0].given : "" }}</b><br />
                    Âge : <b>{{ calculAge(patient.birthDate) }} ans</b><br />
                    Date de naissance : <b>{{ patient.birthDate | date : 'dd/MM/yyyy' }}</b>
                    <img class="profil" [src]="profil"/>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="reponse">
            <div style="display: flex;">
                Réponses à la questionnaire du patient :
                <button mat-fab matTooltip="Actualiser les réponses" color="primary"
                    (click)="loadPatientResponse()" style="margin-left : auto;">
                    <mat-icon>refresh</mat-icon>
                </button>
            </div>
            <mat-card class="patient">
                <mat-card-content>
                    <div *ngIf="response == null || questionnaire == null">
                        Pas de réponse du patient
                    </div>
                    <div *ngIf="response != null && questionnaire != null">
                        <div *ngFor="let itemQuestion of questionnaire.item; let i = index" style="display: flex;">
                            <div style=" margin-top: auto; margin-bottom: auto; width: 50%;">
                                <b>{{ itemQuestion.text }}</b>
                            </div>
                            <div style="display: flex; margin-top: auto; margin-bottom: auto; margin-left: 10px; width: 50%;">
                                <mat-icon [style]="'color: ' + (isAlerte(itemQuestion.text, getReponse(itemQuestion.type, response.item[i].answer[0])) ? 'red' : 'green') + ';'">circle</mat-icon>
                                <p style="position: relative; top:2px;">&nbsp;{{  getReponse(itemQuestion.type, response.item[i].answer[0]) }}</p>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
<div *ngIf="isError" class="error">
    <img class="os" src="/assets/os.png"/>
    Vous êtes tombé sur un os !<br />
    (Le patient recherché n'existe pas...)
</div>