.patient {
    background-color: #673AB7;
    border-radius: 25px;
    color: #ffffff;
    margin: 30px;
}

.error {
    display: grid;
    text-align: center;
}

.os {
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}