<div>
    <mat-card class="backgroundCard">
        <mat-card-header>
            <h1> Statistiques sur les réponses aux questionnaire Post-Opératoire J+1 </h1>
        </mat-card-header>
        <mat-card-content>
            <hr>
            <mat-grid-list cols="2" rowHeight="3:1">
                <mat-grid-tile>
                    <canvas  id="FeverChart" >{{ feverChart }}</canvas>
                </mat-grid-tile>
                <mat-grid-tile>
                    <canvas  id="MyChart" >{{ chart }}</canvas>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
    </mat-card>
</div>