<div *ngIf="!isLoadingPractitioner">
    <mat-toolbar style="border-radius: 20px; height: 100px; background-color:#F8DE65;">
        <img mat-icon-button class="logo" src="/assets/logo.png" routerLink="/" style="cursor: pointer;"/>
        <button mat-fab matTooltip="Accéder aux statistiques" routerLink="/statistiques"
        style="background-color: #00C092; margin-left: 20px;">
            <mat-icon>bar_chart</mat-icon>
        </button>
        <div style="margin-left: auto;">
            <div style="text-align: center; color: black; display: flex;">
                <div style="margin-right: 20px;">
                    <img class="profil" src="/assets/medecin.png"/>
                </div>
                <div style="margin-top: auto; margin-bottom: auto; margin-right: 20px;">
                    <b style="margin-right: 10px;">{{ practitioner.name[0].family != undefined ? practitioner.name[0].family : "" }}</b><br />
                    <b style="margin-right: 20px;">{{ practitioner.name[0].family != undefined ? practitioner.name[0].given : "" }}</b><br />
                </div>
            </div>
        </div>
    </mat-toolbar>
</div>