<mat-toolbar style="border-radius: 20px; height: 8vw; background-color:#d1c3e7;">
    <img mat-icon-button class="logo" src="/assets/logo.png" routerLink="/" style="cursor: pointer;"/>
    <button *ngIf="!isDashboard()" mat-fab matTooltip="Primary" color="primary" aria-label="Retour à l'accueil"
        (click)="goToDashboard()" style="margin-left: 20px">
        <mat-icon>home</mat-icon>
    </button>
    <button mat-raised-button color="primary" routerLink="/statistiques" style="margin-left: 20px;">Statistiques</button>
</mat-toolbar>