html, body {
    height: 100%;
    margin: 30px;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.header {
    display: grid;
    margin-bottom: 20px;
}

.logo {
    display: flex;
    margin-top: 8px;
    transition: transform .2s;
    width: 15vw;
}

.logo:hover {
    border-radius: 10px;
    transform: scale(1.2);
}

.profil {
    display: flex;
    height: 100%;
    margin: auto;
}