html, body {
    height: 100%;
    margin: 30px;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.header {
    display: grid;
    margin-bottom: 20px;
}

.logo {
    display: block;
    height: 100px;
    margin-bottom: 10px;
}

.profil {
    display: flex;
    height: 100px;
    margin: auto;
}