<div *ngIf="isLoadingPatient || isLoadingPractitioner" style="display: block ruby; text-align: center; position: absolute;">
    <mat-spinner></mat-spinner>
</div>
<div *ngIf="!isLoadingPatient && !isLoadingPractitioner">
    <button mat-raised-button (click)="createAndSendQuestionnaire($event)" style="margin-top: 10px;">
        Envoyer le questionnaire</button>
    <div class="patients">
        <div *ngFor="let patient of patients">
            <mat-card class="patient" routerLink="/patient/{{patient.id}}">
                <mat-card-header>
                    <mat-card-title *ngIf="patient.name && patient.name[0].family">
                        {{ patient.name[0].given[0] }} {{ patient.name[0].family }}
                    </mat-card-title>
                    <mat-card-subtitle>
                        Âge : {{ calculAge(patient.birthDate) }} ans<br />
                        Date de naissance : {{ patient.birthDate | date : 'dd/MM/yyyy' }}
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>