.medecin {
    margin-top: 20px;
    background-color: #d1c3e7;
    border-radius: 25px;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.patient {
    background-color: #156062;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    margin: 30px;
}

.mat-card-title {
    color: #ffffff;
}

mat-card-subtitle {
    color: #ffffff;
}